@font-face {
    font-family: exo;
    src: url(../font/Exo2.ttf);
}

@font-face {
    font-family: orb;
    src: url(../font/Orbitron.ttf);
}

.font_orb{
    font-family: orb;
}

.font_exo{
    font-family: exo;
}

.width_100 {
    max-width: 100%;
}

.white_text{
    color: white;
}

.blue_text{
    color: #1e3a8a;
}

.light_blue_text{
    color: #4fc3f7;
}

.shadow_text{
    text-shadow: 2px 2px 2px #4fc3f7;
}

.text_outline{
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.black_border{
    border: 2px solid black;
}

.no_margin{
    margin: 0;
}

.right_text{
    text-align: right;
}

/****************************************** PARALLAX *********************************************/

.parallax{  
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
}

.parallax.home{
    background-image: url(../img/background_small.jpg);
}

.parallax.nova{
    background-image: url(../img/title_images/supernova.jpg);
}

.parallax.quasar{
    background-image: url(../img/title_images/quasar.jpg);
}

.parallax.black{
    background-image: url(../img/title_images/blackhole.jpg);
}

/****************************************** CONTAINERS *********************************************/

.head_logo{
    display: flex;
    justify-self: center;
    justify-content: center;
}

.head_logo img{
    width: 80%;
    min-width: 500px;
    margin-top: 100px;
}

.quote{
    display: flex;
    justify-self: center;
    justify-content: center;
    color: white;
    font-size: clamp(0.8rem, 2vw, 2.5rem);
    font-family: exo;
    margin-top: 20%;
}

.quote blockquote{
    text-align: center;
}

.foreground{
    position: relative; 
    width: 100%;
    top: -70px;
}

.foreground img{
    width: 100%;
    z-index: -10;
}

.content_wrapper{
    padding-top: 25em;
    margin-top: 25em;
}

/****************************************** NAVBAR *********************************************/

.primary_nav{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas: "stack";
    z-index: 100;
}

.primary_nav img{
    position: relative;
    grid-area: stack;
    width: 100%;
    height: 6em;
}

.nav_wrapper{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
    font-family: orb;
    grid-area: stack;
    z-index: 10;
}

.nav_list{
    font-family: orb;
    display: flex;
    justify-items: left;
    list-style: none;
    gap: 10px;
    padding: 0;
    color: #4fc3f7;
    width: 80%;
}

.nav_list li{
    background-color: rgba(30, 58, 186, 0.5);
    padding: 5px;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    width: fit-content;
    text-align: center;
    border: 2px solid black;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#1e3a8a;
  min-width: 130px;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 10px;
  border: 2px solid black;
  /* font-size: clamp(MIN, PREFERRED, MAX); */
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  flex-direction: column;
  text-align: left;
}

.dropdown:hover .dropdown-content {
    display: flex;
    margin-top: 4px;
}

.nav_list a:link {
    color: white;
}

.nav_list a:visited {
    color: rgb(194, 225, 254);
}

.nav_list a:hover {
    color: white;
}

.nav_list a:active {
    color: rgb(36, 0, 84);
}

/****************************************** OTHER *********************************************/

.page_title{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 80vh;
    padding-inline: 10px;
    font-size: clamp(0.8rem, 2vw, 3rem);
}

.main_content{
    background-image: url(../img/background_smoke.png);
    background-size: cover;
    background-color: transparent;
}
